<h3>Example</h3>

  {{!-- {{render-all-examples examples=model}} --}}
<div>
  {{model.text}}
  {{#if model.editable}}
    <span {{action 'editSingle' model}}>
      {{fa-icon "pencil"}}
    </span>
    <span {{action 'delete' model}}>
      {{fa-icon "trash"}}
    </span>
  {{/if}}
</div>
{{#link-to "examples"}}Back to Examples{{/link-to}}